<!doctype html>
<html lang="en">

<head>
    <style type="text/css">
        #wrapper {
            display: table;
            width: 100%;
        }

        #column-1 {
            display: table-cell;
            background: red;

        }

        #column-2 {
            display: table-cell;
            background: blue;
        }
    </style>
</head>

<body>
</body>
<div id="wrapper">
    <div id="column-1">Column 1-1</div>
    <div id="column-2">Column 2-1</div>
</div>
<div id="wrapper">
    <div id="column-1">Column 1-2</div>
    <div id="column-2">Column 2-2</div>
</div>

</html>