<!doctype html>
<html>
<style>
#root > div > div > img:first-child {
  width:360px;
}
</style>

<body>
    <div id="root">
	  <div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god</p>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god</p>
        </div>
		</div>
    </div>
</body>

</html>