<!doctype html>
<html>
<body>
    <div style="display: flex; overflow: auto; justify-content: space-around; align-items: center;flex-wrap: wrap">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god</p>
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god</p>
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god</p>
        </div>
    </div>
    <div style="display: flex; overflow: auto; justify-content: space-around; align-items: center;flex-wrap: wrap">
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god 1.</p>
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god</p>
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god</p>
        </div>
        <div style="float:left; text-align:center">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god 1. Image about god 2. Image about god 3.</p>
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god</p>
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god</p>
        </div>
        <div>
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
            </img>
            <p>Image about god</p>
        </div>
    </div>
</body>
</html>