<!doctype html>
<html>
<style>
    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<body>
    <div>
        <h1 style="align-content:center; text-align: center">Tiamiat</h1>
        <div >
            <div  style="float: left; align-content:center; width: 50%; text-align:center">
                <div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Chaos_Monster_and_Sun_God.png/150px-Chaos_Monster_and_Sun_God.png">
                    </img>
                    <p>Image. Goodness.</p>
                    <p>[Should be on top left.]</p>
                </div>
            </div>
            <div class="clearfix">
                <p>User piramids as antennas of hyberbolic charges.</p>
                <p>[Should be on the top right.]</p>
            </div>
        </div>
        <div style="align-content: center; text-align: center;">
            <p>
                I do have power. I am from Sirius. Do obey!!!
            </p>
            <p>
                [Should be at center bottom.]
            </p>
        </div>
    </div>
</body>
</html>