<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.serviceModel>
    <services>
      <service name="ML.Service.NaiveBayesService">
        <host>
          <baseAddresses>
            <add baseAddress = "net.tcp://localhost:8001/"/>
            <add baseAddress = "http://localhost:8002/"/>
          </baseAddresses>
        </host>

      </service>
    </services>
  </system.serviceModel>
</configuration>