# Build Folders (you can keep bin if you'd like, to store dlls and pdbs)
bin
obj
TestResults
_ReSharper.*
ipch
Debug
Release
*.sdf
*.opensdf
*.user
*.suo
*.cache
*.vspscc
*.log
*.ncb
*.pch
*.zip
*.mdf
*.log
packages
build
bin
obj
build
Debug
Release
*.user
*.suo
_ReSharper.*
*.sdf
ipch
*.opensdf
*.pch
TestResults
ipch
*.sdf
*.opensdf
*.cache
*.vspscc
*.log
*.ncb
*.pch
*.zip
*.mdf
*.log
packages
build